.title {
  color: #1ebf1c;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #000000;4
}

body{
  background-color: #46949c;
}

div, li {
  text-align: center;
  list-style: none;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

